html,
body {
  font-family: "Press Start 2P";
  color: #221f16;
  font-size: 16px;

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: -webkit-linear-gradient(
    -90deg,
    rgba(213, 152, 67, 1) 0,
    rgba(252, 253, 255, 1) 70%,
    rgba(252, 253, 255, 1) 100%
  );
  background: -moz-linear-gradient(
    180deg,
    rgba(213, 152, 67, 1) 0,
    rgba(252, 253, 255, 1) 70%,
    rgba(252, 253, 255, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(213, 152, 67, 1) 0,
    rgba(252, 253, 255, 1) 70%,
    rgba(252, 253, 255, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: auto;
}

.error {
  box-shadow: 6px 0 red, -6px 0 red, 0 -6px red, 0 6px red;
  padding: 0.5rem;
  margin: 2rem 0;
  background: white;
}

/*Nav*/
.nav {
  box-shadow: 6px 0 #934b29, -6px 0 #934b29, 0 -6px #934b29, 0 6px #934b29;
  margin: 6px auto;
  max-width: 90%;
  padding: 1rem;
  background-color: #bfd830;
}

.nav-list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.nav-list__link {
  text-decoration: none;
  font-size: 150%;
}

.nav-list__link--active {
  color: red !important;
}

.nav-list__link:visited {
  color: #221f16;
}

.nav-list__link:hover {
  color: #934b29;
}

/*Form elements*/

.form__container {
  position: relative;
  max-width: 800px;
  margin: 3rem auto;
  padding: 4rem 1rem;
  background-color: #f57c43;
  box-shadow: 4px 0 white, -4px 0 white, 0 -4px white, 0 4px white,
    8px 0 #934b29, -8px 0 #934b29, 0 -8px #934b29, 0 8px #934b29,
    0 0 0 4px #934b29;
}

.form__fieldset {
  display: flex;
  margin-bottom: 2rem;
}

.form__label {
  flex: 0 0 200px;
  font-size: 120%;
}

.form__input {
  box-shadow: 3px 0 white, -3px 0 white, 0 -3px white, 0 3px white, 6px 0 white,
    -6px 0 white, 0 -6px white, 0 6px white, 0 0 0 3px white, 9px 0 #819221,
    -9px 0 #819221, 0 9px #819221, 0 -9px #819221, 0 -3px 0 3px #819221,
    0 3px 0 3px #819221, 3px 0 0 3px #819221, -3px 0 0 3px #819221;
  border: 0;
  padding: 0px 5px;
}

.form__input:focus {
  outline: 0;
}

.form__button {
  background: #92cd41;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 1rem;
  padding: 20px;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #4aa52e;
  font-family: "Press Start 2P";
}

.form__button[disabled] {
  box-shadow: inset -6px -6px 0px 0px gray;
  background-color: gray;
  cursor: not-allowed;
}

.form__button[disabled]:hover {
  box-shadow: inset -6px -6px 0px 0px gray;
  background-color: gray;
}

.form__button:hover,
.form__button:focus {
  background: #76c442;
  box-shadow: inset -6px -6px 0px 0px #4aa52e;
}
.form__button:active {
  box-shadow: inset 4px 4px 0px 0px #4aa52e;
}
.form__button:before,
.form__button:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.form__button:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}
.form__button:after {
  left: -6px;
  top: 0;
  border-left: 6px black solid;
  border-right: 6px black solid;
}

.form__button--small {
  padding: 5px;
  font-size: 0.5rem;
}

.form__button--small:before {
  top: -3px;
  left: 0;
  border-top: 3px black solid;
  border-bottom: 3px black solid;
}
.form__button--small:after {
  left: -3px;
  top: 0;
  border-left: 3px black solid;
  border-right: 3px black solid;
}

.form__button--red {
  background: #cc0000;
  box-shadow: inset -4px -4px 0px 0px red;
}

.form__button--red:hover {
  background: red;
  box-shadow: inset -6px -6px 0px 0px red;
}

.form__image {
  height: auto;
  max-width: 250px;
  float: right;
}

.form__header {
  position: absolute;
  top: -30px;
  padding: 1rem;
  color: black;
  background: white;
  box-shadow: 4px 0 white, -4px 0 white, 0 -4px white, 0 4px white,
    8px 0 #934b29, -8px 0 #934b29, 0 -8px #934b29, 0 8px #934b29,
    0 0 0 4px #934b29;
}

/*Spacing*/
.mr-1 {
  margin-right: 10px;
}

.ml-2 {
  margin-left: 20px;
}

.mt-2 {
  margin-top: 20px;
}

.mb-2 {
  margin-bottom: 20px;
}

/*Friends*/
.friends-list__item {
  margin: 10px 0px;
  display: flex;
  flex-wrap: wrap;
}

.friends-list__name {
  flex: 0 0 200px;
}

/*Loader*/
.loader-text {
  display: flex;
  height: 98vh;
  width: 98vw;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 5rem;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
}

/*stats*/

.stats {
  position: relative;
  max-width: 80%;
  margin: 3rem auto;
  padding: 4rem 1rem;
  background-color: white;
  box-shadow: 4px 0 white, -4px 0 white, 0 -4px white, 0 4px white,
    8px 0 #934b29, -8px 0 #934b29, 0 -8px #934b29, 0 8px #934b29,
    0 0 0 4px #934b29;
}

.stats__close {
  font-size: 200%;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.stats__container {
  display: flex;
  justify-content: space-around;
}

.stats__title {
  font-weight: bold;
  font-size: 180%;
  margin-top: 2rem;

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px;
  overflow: hidden;
  border: none;
  color: rgba(255, 255, 0, 1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 5px 5px 0 rgba(255, 0, 0, 1);
}

.stats__bar {
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  padding: 0px 10px;
  font-size: 16px;
}

.stats__bar--small-font {
  font-size: 70%;
}

.stats__col--big {
  flex: 0 0 40%;
  display: flex;
}

.stats__col--small {
  flex: 0 0 20%;
  display: flex;
  justify-content: center;
}

.stats__col--right {
  justify-content: flex-end;
}

.stats__col--left {
  justify-content: flex-start;
}
